## 6. Feature Engineering in the Heart Disease Dataset
   - Task: Create new features from existing ones in the Heart Disease dataset, such as age groups, cholesterol levels, and more.
   - Dataset: Heart Disease Dataset

## Loading Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/kaggle/input/heart-disease-dataset/heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

## Defining New Groups

In [4]:
# Define age groups
age_bins = [29, 39, 49, 59, 69, 79]
age_labels = ['30-39', '40-49', '50-59', '60-69', '70-79']
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels)

In [5]:
# Define cholesterol level categories
chol_bins = [0, 200, 239, 500]
chol_labels = ['Normal', 'Borderline High', 'High']
df['chol_level'] = pd.cut(df['chol'], bins=chol_bins, labels=chol_labels)

In [6]:
# Define blood pressure categories
bp_bins = [0, 120, 129, 139, 180]
bp_labels = ['Normal', 'Elevated', 'High Stage 1', 'High Stage 2']
df['bp_level'] = pd.cut(df['trestbps'], bins=bp_bins, labels=bp_labels)

In [7]:
# Define blood pressure categories
bp_bins = [0, 120, 129, 139, 180]
bp_labels = ['Normal', 'Elevated', 'High Stage 1', 'High Stage 2']
df['bp_level'] = pd.cut(df['trestbps'], bins=bp_bins, labels=bp_labels)

In [8]:
# Define heart rate categories
thalach_bins = [0, 120, 160, 200, 220]
thalach_labels = ['Low', 'Moderate', 'High', 'Very High']
df['thalach_level'] = pd.cut(df['thalach'], bins=thalach_bins, labels=thalach_labels)

In [9]:
# Example combined risk factor score
df['risk_score'] = df['age'] * 0.3 + df['chol'] * 0.3 + df['trestbps'] * 0.2 + df['thalach'] * 0.2

## Displaying updated Dataset

In [10]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,age_group,chol_level,bp_level,thalach_level,risk_score
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,50-59,Borderline High,Elevated,High,137.8
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,50-59,Borderline High,High Stage 2,Moderate,135.8
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,70-79,Normal,High Stage 2,Moderate,127.2
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,60-69,Borderline High,High Stage 2,High,141.0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,60-69,High,High Stage 1,Low,155.6